<div class="centrar">
  <app-aside></app-aside>

  <div class="section">
    <app-formulario-ingreso
      (messageEvent)="receiveMessage($event)"
    ></app-formulario-ingreso>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <button
        class="btn btn-danger btn-notificar-vendedor me-md-5"
        (click)="notificarTurnoVendedor()"
      >
        Notificar vendedor
      </button>
    </div>

    <div class="ContenidoTabla">
      <div class="mb-5 col-sm-4 search-box">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Buscar"
          name="filterPost"
          aria-label="Search"
          [(ngModel)]="filterPost"
          [ngModel]="inputBuscar"
          (ngModelChange)="inputBuscar = $event.toUpperCase()"
        />
      </div>

      <div id="div1">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">NRO</th>
              <th scope="col">TIPO DE PROSPECTO</th>
              <th scope="col">NOMBRE Y APELLIDO</th>
              <th scope="col">DNI</th>
              <th scope="col">NRO DE CONTACTO</th>
              <th scope="col">MOTIVO</th>
              <th scope="col">DEPARTAMENTO</th>
              <th scope="col">PROCEDENCIA</th>
              <th scope="col">EMPLEADO</th>
              <th scope="col">OBSERVACIONES</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of recepcionData | filter : filterPost">
              <th scope="row">{{ data.nro }}</th>
              <td>{{ data.tipoDeProspecto }}</td>
              <td>{{ data.nombreApellido }}</td>

              <td>{{ data.dni }}</td>
              <td>{{ data.nroContacto }}</td>
              <td>{{ data.motivo }}</td>
              <td>{{ data.departamento }}</td>
              <td>{{ data.procedencia }}</td>
              <td>{{ data.empleado }}</td>
              <td>{{ data.observaciones }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
