
<div class="div-alert">
    <div class="card text-bg-success">
        <div class="card-body">
          <h5 class="card-title">Hola</h5>
          <h6 class="card-subtitle mb-2 text-center"> Espero que estes muy bien </h6>
          <p class="card-text text-center">Te avisare cuando sea tu turno mediante una alerta. Si tienes alguna duda de en que posicion te encuentras puedes chequear el contador de abajo.</p>
          <div class="card-footer bg-transparent border-danger text-center">Faltan <span></span> turnos para llegar a ti</div>
      messageVenta: {{messageVenta}}
        </div>
      </div>
</div>
