

<div class="card-aside">         
      <div class="selectbox mb-3 col-sm-8">
       
				<div class="selectAsideRecepcion prueba" id="selectAsideRecepcion">          
					<div class="contenido-selectAsideRecepcion">
					<h1 class="tituloAsideRecepcion">Departamento administrativo</h1>	
        
					</div>
					<i class="bi bi-chevron-compact-down"></i>
				</div>

				<div class="opcionesAsideRecepcion" id="opcionesAsideRecepcion">
					<a href="#" class="opcionAsideRecepcion">
						<div class="contenido-opcionAsideRecepcion">							
							<div class="textos">
								<h1 class="tituloAsideRecepcion">Recepcion</h1>								
							</div>
						</div>
					</a>
					<a href="#" class="opcionAsideRecepcion">
						<div class="contenido-opcionAsideRecepcion">							
							<div class="textos">
								<h1 class="tituloAsideRecepcion">Ejemplo 2</h1>							
							</div>
						</div>
					</a>
					<a href="#" class="opcionAsideRecepcion">
						<div class="contenido-opcionAsideRecepcion">							
							<div class="textos">
								<h1 class="tituloAsideRecepcion">Ejemplo 3</h1>							
							</div>
						</div>
					</a>		
				</div>
			</div>
			<input type="hidden" name="pais" id="inputSelectAsideRecepcion" value=""> 
	
	
			
</div> 

